// 모바일
@media screen and (max-width: 479px) {
    .footerCon {
        .footer {
            .footerH2 {
                white-space: nowrap;
                font-size: 2.5vw;
                width: 50%;

                .footImg {
                    width: 40%;
                }

                .callCon {
                    margin-left: 40px;
                    gap: 10px;
                    .callImg {
                        width: 35px;
                    }
                    .callTxt {
                        .callSpan {
                            font-size: 3.5vw;
                            white-space: nowrap;
                        }
                    }
                }
            }
            .footSpan {
                font-size: 2.9vw;
            }
        }
    }
}

/* 모바일 가로 & 테블릿 세로 (해상도 480px ~ 767px)*/
@media screen and (min-width:480px) and (max-width:767px) {
    .footerCon {
        .footer {
            .footerH2 {
                white-space: nowrap;
                font-size: 1.4rem;
                width: 45%;

                .footImg {
                    width: 40%;
                }

                .callCon {
                    gap: 7px;
                    .callImg {
                        width: 42px;
                    }
                    .callTxt {
                        .callSpan {
                            font-size: 2.8vw;
                            white-space: nowrap;
                        }
                    }
                }
            }
            .footSpan {
                font-size: 1.4rem;
            }
        }
    }
}

/* 테블릿 가로 (해상도 768px ~ 1023px)*/
@media screen and (min-width:768px) and (max-width:1023px) { 
    .footerCon {
        .footer {
            .footerH2 {
                white-space: nowrap;
                font-size: 1.4rem;
                width: 50%;

                .footImg {
                    width: 40%;
                }

                .callCon {
                    gap: 20px;
                    margin-left: 60%;
                    .callImg {
                        width: 55px;
                    }
                    .callTxt {
                        .callSpan {
                            font-size: 2rem;
                            white-space: nowrap;
                        }
                    }
                }
            }
            .footSpan {
                font-size: 1.4rem;
            }
        }
    }
}

/* 노트북 & 테블릿 가로 (해상도 1024px ~ 1279px)*/
@media screen and (min-width:1024px) and (max-width:1279px) { 
        .footerCon {
        .footer {
            .footerH2 {
                white-space: nowrap;
                font-size: 1.4rem;
                width: 40%;

                .footImg {
                    width: 40%;
                }

                .callCon {
                    gap: 20px;
                    position: relative;
                    left: 50%;
                    .callImg {
                        width: 55px;
                    }
                    .callTxt {
                        .callSpan {
                            font-size: 2rem;
                        }
                    }
                }
            }
            .footSpan {
                font-size: 1.4rem;
            }
        }
    }
}