.fixedMenu {
    display: flex;
    flex-direction: column;
    position: fixed;
    gap: 20px;
    bottom: 80px;
    right: 40px;
    z-index: 1;
    
    a {
        width: 85px;
        height: 85px;

        .katalkImg {
            width: 100%;
            border-radius: 20px;
        }
        .callImg {
            width: 100%;
            border-radius: 20px;
        }
    }
}

@import "./responsive/FixedMenu-Responsive.module.scss";