.fixedMenu {
    display: flex;
    flex-direction: column;
    position: fixed;
    gap: 20px;
    bottom: 80px; /* 화면 하단에서 20px 떨어지게 */
    right: 40px;  /* 화면 오른쪽에서 20px 떨어지게 */
    z-index: 1;
    
    a {
        width: 85px;  /* 고정된 크기로 설정 */
        height: 85px; /* 고정된 크기로 설정 */

        .katalkImg {
            width: 100%;
            border-radius: 20px;
        }
        .callImg {
            width: 100%;
            border-radius: 20px;
        }
    }
}

@import "./responsive/FixedMenu-Responsive.module.scss";